<div class="frame">
    <div class="showMessages" id="scroll_div">
        <!-- messages -->
        <div class="wall">


        </div>

    </div>
    <div class="typeMessage">
        <div class="myPhoto friendPhoto">
            <img src="{{ url_for('main.static', filename='img/hulk.jpg') }}">
        </div>
        <textarea id='newMessage'></textarea>
        <button class="sendMessage">Send</button>
        <div class="friendPhoto">
            <img src="{{ url_for('main.static', filename='img/hulk.jpg') }}">
        </div>
    </div>
</div>

