<div id='chatWindow'>
    <div class="frame">
        <div class="showMessages" id="scroll_div">
            <!-- messages -->
            <div class="wall">


            </div>

        </div>
        <div class="typeMessage">
            <div class="myPhoto friendPhoto">
                {# <img src='img/o12S9j9oevs.png'>#}
            </div>
            <textarea id='newMessage'></textarea>
            <button class="sendMessage">Send</button>
            <div class="friendPhoto">
                {# <img src='img/hulk.jpg'>#}
            </div>
        </div>
    </div>
</div>
