<form id='myPageConfig' method="post" action="{{ url_for('main.user_conf') }}">
    <div class="labels">
        <label for="last_name">Last Name: </label>
        <label for="first_name">First Name: </label>
        <label for="status">Status: </label>
        <label for="city">City: </label>
        <label for="phone">Phone: </label>
        <label for="birthday">Birthday: </label>
    </div>
    <div class="inputs">
        <input type="text" id="last_name" name="last_name">
        <input type="text" id="first_name" name="first_name">
        <input type="text" id="status" name="status">
        <input type="text" id="city" name="city">
        <input id="phone" name="phone" type="tel">
        <input id="birthday" name="birthday" type='date' max="2015-12-31">
    </div>
    <button class="sendMessage">Apply</button>
</form>
