<article class="friends">
  <div class="myfriends">
    <div class="friendPhoto">
        <img class='userImg' src="">
    </div>
    <div class="friendInf">
      <span class="friendName"></span>
      <div class="state"></div>
      <br>
      <span class="user-status"></span>
      <br>
        <ul>
            <!-- city -->
            <li>
                <i class="fa fa-home"></i> <span>City:</span> <span class="city inf"></span>
            </li>
            <!-- mail -->
            <li>
                <i class="fa fa-envelope-o"></i> <span>E-mail:</span>
        <span class="inf">
            <a class="email"></a>
          </span>
            </li>
            <!-- tel -->
            <li>
                <i class="fa fa-phone"></i> <span>Phone:</span>
        <span class="inf">
              <a class='phone'></a>
          </span>
            </li>
            <!-- birth -->
            <li>
                <i class="fa fa-birthday-cake"></i> <span>Birthday:</span> <span class="inf birthday"></span>
            </li>

        </ul>
      <br>
    </div>
    <button class="sendMessage">Send message</button>
  </div>




</article>
