<article>
    <!-- photo -->
    <div class="photoInf">
        <div class="mainPhoto">
            <img class='userImg' src="">
        </div>
        <div class="changePhoto">
            <i class="fa fa-file"></i> Change a photo!
            <form action="{{ url_for('main.upload_img') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="image" class='changeImg'
                       onclick="document.getElementsByClassName('changeButton')[0].style.display = 'block';">
                <button class="changePhoto changeButton">OK</button>
            </form>
        </div>
    </div>
    <!-- user inf. -->
    <div class="mainInf">
        <h1 id="name"></h1>
        <div class="state"></div>
        <br>
        <span class='user-status'></span>
        <ul>
            <!-- city -->
            <li>
                <i class="fa fa-home"></i> <span>City:</span> <span id='city' class="inf"></span>
            </li>
            <!-- mail -->
            <li>
                <i class="fa fa-envelope-o"></i> <span>E-mail:</span>
        <span class="inf">
            <a id="mail"></a>
          </span>
            </li>
            <!-- tel -->
            <li>
                <i class="fa fa-phone"></i> <span>Phone:</span>
        <span class="inf">
              <a id='tel'></a>
          </span>
            </li>
            <!-- birth -->
            <li>
                <i class="fa fa-birthday-cake"></i> <span>Birthday:</span> <span id='birthday' class="inf"></span>
            </li>
            <!-- work -->

        </ul>

    </div>
</article>

<!-- write a comment -->

<!--<section>
  <div class="comments">
    <div>
      <span>Make a comment</span>
      <span>Amount of comments: <span id='amount'>3</span></span>
    </div>
    <form id='commentForm'>
      <textarea id="comment" oninput="changeTextArea(this.value)" onfocus="showPhoto()" onblur="checkArea(this.value)"></textarea>
      <div>
        <button onclick="addComment();return false;">Comment</button>
        <div class="Limage">
          <i class="fa fa-camera"></i>
          <input type="file" id='Limage' onchange="loadImg(this.value)">
        </div>
      </div>
    </form>
  </div>

  <div class="showComment">
    <div class='commentPhoto' id='mainPhComm'>
{#      <img src="img/o12S9j9oevs.png" class="userImg">#}
    </div>
    <span id='commentChg'></span>
    &lt;!&ndash; <img id='commentImg' src="" class='addImg'> &ndash;&gt;
  </div>
</section>-->

<!-- user's comments -->






