<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cupcake</title>
    <link href="{{ url_for('main.static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon"/>
    <link href="{{ url_for('main.static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('main.static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('main.static', filename='js/jquery-2.2.0.js') }}"></script>
    <script src="{{ url_for('main.static', filename='js/socket.io.min.js') }}"></script>
</head>
<body>


{% if current_user.is_authenticated %}

    {% include 'main/index.html' %}

{% else %}

    {% include 'reg/login.html' %}

{% endif %}


<script src="{{ url_for('main.static', filename='js/main.js') }}"></script>

</body>
</html>


