<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link href="{{ url_for('main.static', filename='css/main.css') }}" rel="stylesheet" type="text/css">
</head>
<body>

<div class="wrap-form">


    <form action="{{ url_for('reg.login') }}" method="post">

        <div class="log-fls">

            <input id="log-user" type="text" name="username" placeholder="Username"><br>
            <input id="log-email" type="text" name="email" placeholder="Email"><br>
            <input id="log-pass" type="password" name="password" placeholder="Password"><br>


            <input type="submit" value="Confirm"><br>
            <a href="{{ url_for('reg.login') }}">Login</a>
            {{ current_user }}
        </div>

    </form>


</div>

<script src="{{ url_for('main.static', filename='js/main.js') }}"></script>
</body>
</html>