<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="{{ url_for('main.static', filename='css/main.css') }}" rel="stylesheet" type="text/css">
</head>
<body>


<div class="left-block">

    <ul class="nav-bar">
        <li><a class="menu-link" href="{{ url_for('main.index_page') }}">Profile</a></li>
        <li><a class="menu-link" href=".">Messages</a></li>
        <li  class="active"><a class="menu-link" href="{{ url_for('main.all_users') }}">Users</a></li>
        <li><a class="menu-link" href="{{ url_for('reg.logout') }}">Logout</a></li>
    </ul>

</div>

<div class="main-block">

{#{% for x in session %}#}


{#{% endfor %}#}

{% for x in users %}

    {% if x.username != session['user_username'] %}

    {{ x.username }}, <a href="{{ url_for('chats.chat', id_user=x.id) }}"> write</a>

    <br>
    {% if x.online %}

        Online

    {% else %}

        {{ x.active | online }}<br>

    {% endif %}
        <br>
        <br>

    {% endif %}


{% endfor %}

</div>
</body>
</html>