<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cupcake</title>
    <link href="{{ url_for('main.static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon"/>
    <link href="{{ url_for('main.static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('main.static', filename='resources/Font-Awesome-master/css/font-awesome.min.css') }}"
          rel="stylesheet">
</head>
<body class="body-log">

<div class="wrap-form">

    <h1>{{ context['msg'] }}</h1>
    <br>
    <a href="{{ url_for('main.index_page') }}">Home</a>

</div>
</body>
</html>


