<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcake</title>
    <link href="{{ url_for('main.static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon"/>
    <link href="{{ url_for('main.static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('main.static', filename='resources/Font-Awesome-master/css/font-awesome.min.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('main.static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body class="body-log">

<div class="wrap-form flash">
    <h1 class="mainLogo "><span>Cup</span>Cake</h1>
    <h1 class="checkMail">{{ context['msg'] }}</h1>
    <a href="{{ url_for('main.index_page') }}">
        <h1 class="checkMail blue">Return to main page</h1>
    </a>

</div>
</body>
</html>


