<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link href="{{ url_for('main.static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('main.static', filename='js/jquery-2.2.0.js') }}"></script>
</head>
<body class="body-log">

<div class="wrap-form">

    <p class="msg">{{ msg }}</p>
    <img src="{{ url_for('main.static', filename='img/cake.png') }}">
    <form action="{{ url_for('reg.register') }}" method="post">
        <h1><span>Cup</span>Cake</h1>
        <div class="log-fls">

            <input id="log-f-user" type="text" name="first-name" placeholder="First-name" required aria-required="true"><br>
            <input id="log-l-user" type="text" name="last-name" placeholder="Last-name" required aria-required="true"><br>
            <input id="log-email" type="email" name="email" placeholder="Email" required aria-required="true"><br>
            <input id="log-pass1" type="password" name="password1" placeholder="Password" required aria-required="true"><br>
            <input id="log-pass2" type="password" name="password2" placeholder="Password" required aria-required="true"><br>
            <input type="submit" value="Confirm"><br>
            <a href="{{ url_for('reg.login') }}" class="register">LOGIN / </a>
            <a href="#" class="forgot">FORGOT PASSWORD</a>
        </div>

    </form>


</div>

<script src="{{ url_for('main.static', filename='js/main.js') }}"></script>

</body>
</html>