<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CupCake register</title>
    <link href="{{ url_for('main.static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon"/>
    <link href="{{ url_for('main.static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('main.static', filename='resources/Font-Awesome-master/css/font-awesome.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('main.static', filename='js/lib/jquery-2.2.0.js') }}"></script>
    <script src="{{ url_for('main.static', filename='js/lib/socket.io.min.js') }}"></script>
</head>
<body class="body-log">

<div class="wrap-form">

    <p class="msg">{{ msg }}</p>
    <div class="cupcake-logo">
        <img src="{{ url_for('main.static', filename='img/cake.png') }}">
    </div>
    <form action="{{ url_for('reg.register') }}" method="post">
        <h1 class="mainLogo"><span>Cup</span>Cake</h1>
        <span class="incorrect">{{context.msg}}</span>
        <div class="log-fls">

            <div class="check"><input id="log-f-user" type="text" name="first-name" placeholder="First name" required aria-required="true" value="{{ context['first_name']  }}" onchange="checkValue(this, this.value, 0)"><br>
            <i class="fa fa-check"></i><i class="fa fa-times"></i></div>
            <div class="check"><input id="log-l-user" type="text" name="last-name" placeholder="Last name" required aria-required="true" value="{{ context['last_name']  }}" onchange="checkValue(this, this.value, 1)"><br>
            <i class="fa fa-check"></i><i class="fa fa-times"></i></div>
            <div class="check"><input id="log-email" type="email" name="email" placeholder="Email" required aria-required="true" value="{{ context['email']  }}" onchange="checkValue(this, this.value, 2)">
            <i class="fa fa-check"></i><i class="fa fa-times"></i></div>
            <div class="check"><input id="log-pass1" type="password" name="password1" placeholder="Password" required aria-required="true" onchange="checkValue(this, this.value, 3)"><br>
            <i class="fa fa-check"></i><i class="fa fa-times"></i></div>
            <div class="check"><input id="log-pass2" type="password" name="password2" placeholder="Password" required aria-required="true" onchange="checkValue(this, this.value, 4)"><br>
            <i class="fa fa-check"></i><i class="fa fa-times"></i></div>
            <input type="submit" value="Confirm"><br>
            <a href="{{ url_for('reg.login') }}" class="register">LOGIN / </a>
            <a href="#" class="forgot">FORGOT PASSWORD</a>
        </div>

    </form>


</div>


<script src="{{ url_for('main.static', filename='js/treatment_page.js') }}"></script>
<script src="{{ url_for('main.static', filename='js/validations.js') }}"></script>

</body>
</html>